{% extends 'base.html' %}

{% block content %}

<main class="page faq-page">
        <section class="clean-block clean-faq dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">BIZ HAQIMIZDA</h2>
                    <p>Biz aholiga sifatli avto va pochta xizmatlarini ko'rsatamiz. Xizmatimiz 3 qismdan iborat: taxi xizmati, yuk eltib berish xizmati va pochta yetkazib berish xizmati</p>
                </div>
                <div class="block-content">
                    <div class="faq-item">
                        <h4 class="question">AutoService - Taxi xizmati</h4>
                        <div class="answer">
                            <p>Saytimizning taxi service sahifasiga o'ting va kerakli rusumdagi mashinani tanlang. Sizga narxi bilan ko'rsatib qo'yilgan</p>
                            <p>Kerakli rusumdagi avtomobil ustiga bossangiz sizga haydovchilar ro'yxati va buyurtma berish oynasi hosil bo'ladi.
                            Formani tog'ri to'ldiring va taxi xizmatidan foydalaning.</p>
                        </div>
                    </div>
                    <div class="faq-item">
                        <h4 class="question">AutoService - Yuk tashish xizmati</h4>
                        <div class="answer">
                            <p>Saytimizning yuk tashish xizmati sahifasiga o'ting va kerakli rusumdagi yuk mashinani tanlang. Sizga narxi bilan ko'rsatib qo'yilgan</p>
                            <p>Kerakli rusumdagi yuk avtomobilini ustiga bossangiz sizga haydovchilar ro'yxati va buyurtma berish oynasi hosil bo'ladi.
                            Formani tog'ri to'ldiring va yuk tashish xizmatidan foydalaning.</p>
                        </div>
                    </div>
                     <div class="faq-item">
                        <h4 class="question">AutoService - Pochta yuborish xizmati</h4>
                        <div class="answer">
                            <p>Saytimizning pochta xizmati sahifasiga o'ting. Formani to'ldiring va pochtangnizni yetkazib beramiz.</p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    

{% endblock %}