{% extends 'base.html' %}

{% block content %}

    <main class="page contact-us-page">
        <section class="clean-block clean-form dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Haydovchilik uchun arizani to'ldiring</h2>
                </div>
                <form method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label class="form-label">Name</label>
                        {{form.ism}}
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Surname</label>
                        {{form.familya}}
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Age</label>
                        {{form.yosh}}
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Subject</label>
                        {{form.soha}}
                    <div class="mb-3">
                        <button class="btn btn-primary" type="submit">Confirm</button>
                    </div>
                </form>
            </div>
        </section>
    </main>
    

{% endblock %}